<html>
	<head>
		<title> pboat827 </title>
		<style>
			html {
				margin: 0 auto;
				text-align: center;
			}
			
			input {
				box-sizing: border-box;
				border: 2px solid #ccc;
				border-radius: 4px;
				background-color: #f8f8f8;
				resize: none;
			} 
			
			#dellorkcir {
				color: #A00
			}
			
			#status {
				color: #00A
			}
		</style>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css"> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/ecar563.js') }}"></script>
	</head>
	
	<body>
		<div class="w3-container w3-theme w3-card">
		  <h1>Home</h1>
		</div>
		<br>
		<a href="/pboat287" class="w3-card"> pboat287 </a>
		<br>
		<a href="/ecar563" class="w3-card"> ecar563 </a>
	</body>
	
</html>